{% extends "base.html" %}
{% block head %}
<style>
    body {
        background-color: #e2bdfc;
    }
</style>
{% endblock head %}
{% block content %}
<div class="row justify-content-center py-5">
    <div class="col-8">
        <blockquote class="blockquote text-center">
            <p><strong>"There is no limit to what we, as women, can accomplish."</strong></p>
            <footer class="blockquote-footer">Michelle Obama</footer>
        </blockquote>
    </div>
</div>
<div class="row">
    <p>Many of life’s most practical skills and interesting industries have, for some reason, been historically deemed “men’s things”. Car troubles? Ask a man. Financial questions? Ask a man. Sports? You know what I’m talking about. Because of this, many women believe it is too late to start learning these things, or doubt their ability to do so. You Pro, Girl! is a community of supportive women who know that women can do and be anything they choose, especially experts in “men’s things”.
    </p>
</div>

{% endblock content %}