{% extends "base.html" %}
{% block head %}
<style>
    body {
        background-color: #000000;
        color: white;
    }

    .card {
        background-color: black;
    }

    a {
        color: white
    }

    .card-text {
        font-size: 1.3rem;
    }

    img {
        width: 100%;
        height: 50vh !important;
        object-fit: cover;
    }
</style>
{% endblock head %}
{% block content %}
{% for i in range(course_list| length) %}
    <div class="card p-0 border-bottom-0 border-white rounded-0">
        <div class="row m-0">
        {% if i % 2 == 0 %}
            <div class="col-6 p-0 rounded-0">
              <img src="{{ course_list[i]["image_url"] }}" alt="...">
            </div>
            <div class="col-6 p-0 d-flex align-items-center">
                <div class="card-body px-5 text-center">
                    <a href="{{ url_for("courses", course_id=course_list[i]["_id"]) }}" ><h2 class="card-title">{{ course_list[i]["title"] }}</h2></a>
                    <p class="card-text py-3">{{ course_list[i]["description"] }}</p>
                </div>
            </div>
        {% else %}
            <div class="col-6 p-0 d-flex align-items-center">
                <div class="card-body px-5 text-center">
                    <a href="{{ url_for("courses", course_id=course_list[i]["_id"]) }}" ><h2 class="card-title">{{ course_list[i]["title"] }}</h2></a>
                    <p class="card-text py-3">{{ course_list[i]["description"] }}</p>
                </div>
            </div>
            <div class="col-6 p-0 rounded-0">
              <img src="{{ course_list[i]["image_url"] }}" alt="...">
            </div>
        {% endif %}
        </div>
    </div>
{% endfor %}
{% endblock content %}